## Ansible persistent storage
ansible/roles/*
## Packer
# Cache objects
packer/packer_cache/
# Output directories
packer/output-*
# For built boxes
*.box
## Locally stored ISO images
ISO
ISO/*
## Vagrant
.vagrant
.vagrant/*
